<h2>保護された方のマイページ</h2>

  <div class="field">
    <%= @trader.email %>
  </div>

  <div class="field">
    <%= @trader.t_name %>
  </div>

  <div class="field">
    <%= @trader.t_postal_code %>
  </div>

  <div class="field">
    <%= @trader.area.name %>
  </div>

  <div class="field">
    <%= @trader.t_city %>
  </div>

  <div class="field">
    <%= @trader.t_address_num %>
  </div>

  <div class="field">
    <%= @trader.t_building_num %>
  </div>

  <div class="field">
    <%= @trader.t_tel %>
  </div>
