<%= render "shared/header" %>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <div class='transaction-sab'>
      <h1 class='transaction-title-text'>
        飼育決定内容の確認
      </h1>
      <%# 購入内容の表示 %>
     
      <%# /購入内容の表示 %>
      <%= form_with url: cat_families_path(@cat.id), method: :post, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
      <%= render 'shared/error_messages', model: @donation %>
        <%# 配送先の入力 %>
        <div class='shipping-address-form'>
          <h1 class='info-input-haedline'>
            個人情報入力
          </h1>
            <div class="form-group">
              <p class='form-info-header'>
                ＜本人確認＞
              </p>
              <p class='form-info-text'>
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。<br />
                他の会員さまに公開されることはありません。
              </p>
              <p class='info-text'>※ 本人情報は正しく入力してください。確認後、登録連絡先にご連絡いたします。</p>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">お名前(全角)</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
                <%= f.text_area :last_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
                <%= f.text_area :first_name, class:"input-name", id:"first-name", placeholder:"例) 陸太郎" %>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">お名前カナ(全角)</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
                <%= f.text_area :last_pkey, class:"input-name", id:"last-name-kana", placeholder:"例) ヤマダ" %>
                <%= f.text_area :first_pkey, class:"input-name", id:"first-name-kana", placeholder:"例) リクタロウ" %>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">郵便番号</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">都道府県</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">市区町村</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区"%>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">番地</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_field :address_num, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1"%>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">建物名</label>
                <span class="form-any">任意</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_field :building_num, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">電話番号</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_field :tel, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11"%>
              </div>
            </div>
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">保護されている方へのメッセージ</label>
                <span class="indispensable">必須</span>
              </div>
              <div class='input-name-wrap'>
              <%= f.text_area :message, class:"input-default-wrap", id:"phone-number", placeholder:"例）初めて猫を迎え入れます。私の家族は3人で、6歳の子供がおります。活発な猫ちゃんと遊ぶのが楽しみです。",maxlength:"1000", rows:10%>
              </div>
            </div>
          </div>
            <%# 支払額の表示 %>
          <div class='item-payment'>
            <h1 class='item-payment-title'>寄付額入力</h1>
              <h1 class='credit-card-form'>
              </h1>
            <div class="item-payment-cash">
            <% if @cat.sex_id == 1 %>
              <%= "#{@cat.c_name}くんの保護にかかった金額" %>
            <% elsif @cat.sex_id == 2 %>
              <%= "#{@cat.c_name}ちゃんの保護にかかった金額" %>
            <% end %>
              <p class='item-payment-price'>
                <%= @cat.price %>円
              </p>
            </div>
          </div>
            <%# /支払額の表示 %>
            <%# カード情報の入力 %>
          <div class='form-group'>
            <div class='form-text-wrap'>
              <label class="form-text">任意の寄付金額</label>
              <span class="indispensable">必須</span>
            </div>
            <div class='item-payment-price'>寄付金額は任意です。（最低額1000円は諸費用としてお支払いお願いします。）</div>
            <div class='input-name-wrap'>
              <%= f.text_field :donation, placeholder: "1000円以上でお願いします", class:"input-default" %>
            </div>
          </div>
          <div class="card-defalt">
            <div class="card-group">
              <h1 class="form-group-card">クレジットカード情報入力
              </h1>
                <div class='form-text-wrap-card'>
                  <label class="form-text">カード情報</label>
                  <span class="indispensable">必須</span>
                </div>
                <div class="input-card-form">
                <%= f.text_field :number, class:"input-default", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
                </div>
                <div class='available-card'>
                  <%= image_tag 'card-visa.gif', class: 'card-logo'%>
                  <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
                  <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
                  <%= image_tag 'card-amex.gif', class: 'card-logo'%>
                </div>
              <div class="form-group">
                <div class='form-text-wrap-card'>
                  <label class="form-text">有効期限</label>
                  <span class="indispensable">必須</span>
                </div>
                <div class='input-expiration-date-wrap'>
                  <%= f.text_field :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)12" %>
                  <p>月</p>
                  <%= f.text_field :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)24" %>
                  <p>年</p>
                </div>
              </div>
              <div class="form-group">
                <div class='form-text-wrap-card'>
                  <label class="form-text">セキュリティコード</label>
                  <span class="indispensable">必須</span>
                </div>
                <div class="input-card-form">
                <%= f.text_field :cvc,class:"input-expiration-cvc", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"3" %>
                </div>
              </div>
            </div>
            <div class='buy-item-info'>
              <%= image_tag 'e1302_1.png', class:'family-image' %>
              <div class='item-img-contenttttt'>
                <% if @cat.images.count > 0 %>
                <%= image_tag(@cat.images.first, class: "family-cat-img") %>
                <% end %>
                <div class='buy-item-right-content'>
                  <h2 class='buy-item-text'>
                    <% if @cat.sex_id == 1 %>
                      <%= "#{@cat.c_name}くん" %>
                    <% elsif @cat.sex_id == 2 %>
                      <%= "#{@cat.c_name}ちゃん" %>
                    <% end %>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class='buy-btn'>
            <%= f.submit "飼育を決定する" ,class:"buy-red-btn" %>
          </div>
          <div class='buy-btn'>
            <%= link_to "戻る", :back, class:"link-login" %>
          </div>
          <%# /カード情報の入力 %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>