<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "traders/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :t_name %><br />
    <%= f.text_field :t_name, placeholder:"例）（株）ニャンコ、山田 太郎" %>
  </div>

  <div class="field">
    <%= f.label :t_postal_code %><br />
    <%= f.text_field :t_postal_code, placeholder:"例）123-4567",maxlength:"8" %>
  </div>

  <div class="field">
    <%= f.label :area_id %><br />
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}) %>
  </div>

  <div class="field">
    <%= f.label :t_city %><br />
    <%= f.text_field :t_city, placeholder:"例）横浜市緑区" %>
  </div>

  <div class="field">
    <%= f.label :t_address_num %><br />
    <%= f.text_field :t_address_num, placeholder:"例）青山1-1-1" %>
  </div>

  <div class="field">
    <%= f.label :t_building_num %><br />
    <%= f.text_field :t_building_num, placeholder:"例）小山ビル209" %>
  </div>

  <div class="field">
    <%= f.label :t_tel %><br />
    <%= f.text_field :t_tel, placeholder:"半角、ハイフンなし" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
