<%= render "shared/header" %>

<div class="user-contents-rows">
  <div class="user-containers">
    <h2>会員情報編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'new_user') do |f| %>
      <%= render "traders/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可" , class:"field-in" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字混合", class:"field-in"  %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"同じパスワードを入力", class:"field-in"  %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"現在のパスワードを入力", class:"field-in"  %>
      </div>

      <div class="field">
        <%= f.label 'name' %><br />
        <%= f.text_field :t_name, placeholder:"例）（株）ニャンコ、山田 太郎" , class:"field-in"%>
      </div>

      <div class="field">
        <%= f.label 'postal_code' %><br />
        <%= f.text_field :t_postal_code, placeholder:"例）123-4567",maxlength:"8", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label 'area' %><br />
        <%= f.collection_select(:area_id, Area.all, :id, :name, {class:"field-in"}) %>
      </div>

      <div class="field">
        <%= f.label 'city' %><br />
        <%= f.text_field :t_city, placeholder:"例）横浜市緑区", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label 'address' %><br />
        <%= f.text_field :t_address_num, placeholder:"例）青山1-1-1", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label 'building' %><br />
        <%= f.text_field :t_building_num, placeholder:"例）小山ビル209", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label 'tel' %><br />
        <%= f.text_field :t_tel, placeholder:"半角、ハイフンなし", class:"field-in" %>
      </div>

      <div class="actions">
        <%= f.submit "編集を登録する", class:"signup-btn" %>
      </div>
    <% end %>
      <div class="signup-footer">
      <%= link_to "戻る", root_path, class:"link-login" %>
      </div>
      <div class="delete-mypage">
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class:"delete-mypage-btn"%>
      <div>
  </div>
</div>
</div>
</div>

<%= render "shared/footer"%>