<%= render "shared/header" %>

<div class="main">
  <div class="movie">
  <p>本日の猫ちゃん  毎日6：00動画更新中</p>
    <div class="video_flame">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/h13z9sBdcYY?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
  </div>
  <div class=apli_introduction>
  <%= %>
  </div>
  <div class="contents-all">
    <div class="contents">
      <div class="contents-name">
        <div class="contents-name-center">↓↓ただ今、飼い主募集中！↓↓</div>
      </div>
    </div>
    <div class="contents_row">
      <% @cats.each do |cat| %>
        <div class="content_post">
        <%= link_to cat_path(cat) do %>
          <div class="one_cat">
          <% if cat.images.count > 0 %>
            <%= image_tag cat.images.first, class:'cat-image' %>
              <% if cat.family.present? %>
              <div class='family-done'>
                  <span>家族ができました!!</span>
              </div>
              <% end  %>
          <% end %>
          <div class="cat-name-center">
          <%= cat.c_name %>
          </div>
          </div>
        <% end %>  
        </div>
      <% end %>
    </div>
  </div>
 
</div>

<%= render "shared/footer"%>
