<%= render "shared/header" %>

<div class="main">
  <div class="family-top-base" id="info"> 
    <div class="family-top-base-pic" >  
      <img src="/assets/1.jpg"  width="700" height="450" >
      <div class="family-top-base-info">
        <div class="family-top-info">初めて使う方へ</div>
        <div class="family-top-info2">使い方説明</div>
      </div>
      <div class="family-top-base-buttun">
        <input type="button" value="◀︎" onclick="go_back()" class="mypic-arrow" >
        <input type="button" value="▶︎" onclick="go_forward()" class="mypic-arrow" >
      </div>
    </div>
  </div>

  <%# <div class="movie">
  <p>本日の猫ちゃん  毎日6：00動画更新中</p>
    <div class="video_flame">

<iframe width="560" height="315" src="https://www.youtube.com/embed/_qtJGuORO_k?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
  </div> %>
  <div class="contents-all">
    <div class="contents">
      <div class="contents-name">
        <div class="contents-name-center">猫一覧</div>
      </div>
    </div>
    <div class="contents_row">
      <% @cats.each do |cat| %>
        <div class="content_post">
        <%= link_to cat_path(cat) do %>
          <div class="one_cat">
          <% if cat.images.count > 0 %>
            <%= image_tag cat.images.first, class:'cat-image' %>
              <% if personal_signed_in? && Family.exists?(personal_id: current_personal.id, cat_id: cat.id)  %>
              <div class='family-done'>
                  <span>サポートしています</span>
              </div>
              <% end  %>
              <% if personal_signed_in? && Favorite.exists?(personal_id: current_personal.id, cat_id: cat.id) %>
                <div class="favorite-mark">
                <%= image_tag '137515.png', class:"icon-heart" %>
                </div>
              <% end %>
          <% end %>
          <div class="cat-name-center">
          <% if cat.sex_id == 1 %>
            <%= "#{cat.c_name}くん" %>
          <% elsif cat.sex_id == 2 %>
            <%= "#{cat.c_name}ちゃん" %>
          <% end %>
          </div>
          </div>
        <% end %>  
        </div>
      <% end %>
    </div>
  </div>
 
</div>

<%= render "shared/footer"%>
