<%= render "shared/header" %>

<div class="main">
  <div class="movie">
  <p>本日の猫ちゃん  毎日6：00動画更新中</p>
    <div class="video_flame">
      <video src="/movie/img_3124.mp4"
            autoplay muted playsinline class="video">
      </video>
    </div>
  </div>
  <div class="contents-all">
    <div class="contents">
      <div class="contents-name">
        <div class="contents-name-center">↓↓ただ今、飼い主募集中！↓↓</div>
      </div>
    </div>
    <%# <div class="contents-paper"> %>
    <div class="contents_row">
      <% @cats.each do |cat| %>
        <div class="content_post">
        <%= link_to cat_path(cat) do %>
          <div class="one_cat">
          <% if cat.images.count > 0 %>
            <%= image_tag cat.images.first, class:'cat-image' %>
              <% if cat.family.present? %>
              <div class='family-done'>
                  <span>家族ができました!!</span>
              </div>
              <% end  %>
          <% end %>
          <%= cat.c_name %>
          </div>
        <% end %>  
        </div>
      <% end %>
    </div>
  </div>
 
</div>

<%= render "shared/footer"%>