<div >
  <h3>猫を登録する</h3>
  <%= form_with(model: @cat, local: true) do |f| %>
    <%= f.text_field :c_name, placeholder: "name" %>
    <%= f.text_field :c_images, placeholder: "Image Url" %>
    <%= f.text_area :c_text, placeholder: "text", rows: "10" %>
    <%= f.collection_select %>
    <%= f.submit "SEND" %>
  <% end %>
</div>