<%= render "shared/header" %>

<div class="user-contents-rows">
  <div class="user-containers">
    <h2>会員情報編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'new_user') do |f| %>
      <%= render "personals/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, placeholder:"ニックネーム", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可" , class:"field-in"  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "新パスワード" %><br /> 
        <%# <i>(変更したくない場合は空白のままにしてください)</i> %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上の半角英数字混合", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新パスワード（確認）"  %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上の半角英数字混合", class:"field-in" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード" %> <br />
        <%# <i>(変更を確認するには、現在のパスワードが必要です)</i> %>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"現在のパスワード", class:"field-in" %>
      </div>

      <div class="actions">
        <%= f.submit "編集を登録する", class:"signup-btn"  %>
      </div>
    <% end %>
      <div class="signup-footer">
      <%= link_to "戻る", :back, class:"link-login" %>
      </div>
      <div class="delete-mypage">
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class:"delete-mypage-btn"%>
      <div>
    </div>
  </div>
</div>
</div>

<%= render "shared/footer"%>