<!DOCTYPE html>
<html>
  <head>
    <title>Cat28730</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Cat-28730</a></h1>
        <% if personal_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_personal_session_path, method: :delete %>
            マイページ
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_personal_session_path, class: "post" %>
            <%= link_to "新規登録", new_personal_registration_path, class: "post" %>
          </div>
        <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="header__bar row">
        業者ページ
        <% if trader_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_trader_session_path, method: :delete %>
            業者マイページ
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_trader_session_path, class: "post" %>
            <%= link_to "新規登録", new_trader_registration_path, class: "post" %>
          </div>
        <% end %>
        </div>
      </div>
      <p>
        Copyright Cat-28730 2020.
      </p>
    </footer>
  </body>
</html>
